body {
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
}

.bg {
    width: 1192px;
    height: 736px;
    background-color: #3a4965;
    position: relative;
}

table {
    width: 1140px;
    height: 680px;
    background-color: #f2f2f2;
    position: absolute;
    top: 28px;
    left: 26px;
    text-align: center;
    color: #484848;
    font-size: 16px;
}

tr {
    height: 69px;
}

tr:nth-child(even) {
    background-color: #e3e3e3;
}

.firstrow {
    height: 70px;
    background-color: #fafafa;
    font-weight: 700;
    font-size: 18px;
}

.secondrow {
    height: 86px;
    background-color: #fafafa;
}

th,
td {
    box-sizing: border-box;
    box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.27);
}

.firstplan {
    background-color: #89c331;
    color: #ffffff;
}

.secondplan {
    background-color: #f04a56;
    color: #ffffff;
}

.thirdplan {
    background-color: #20807c;
    color: #ffffff;
}

.contacttd {
    background-color: #dddddd;
}

.activeplan {
    font-size: 30px;
}

span {
    display: block;
}

.integer {
    font-size: 60px;
    font-weight: 700;
    position: relative;
}

.price {
    display: inline;
}

.decimal {
    font-size: 24px;
    display: block;
    transform: translate(136px, -28px);
    position: absolute;
    top: 50%;
    height: 100px;
}

.period {
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    transform: translate(0px, -12px);
}

i {
    margin-right: 10px;
}

button {
    text-transform: uppercase;
    border-radius: 5px;
    width: 192px;
    height: 49px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    outline: none;
    box-shadow: inset 0px -5px 1px 0px rgba(72, 72, 72, 0.55);
}

button:hover {
    filter: brightness(85%);
}

.firstbtn {
    background-color: #484848;
    color: #ffffff;
}